@import "./variables.scss";

.navbar{
    padding:1rem 5rem;
    font-size:1rem;
    height:10vh;
    background-color: #f5f5f5;
    .nav-bar{
        ul{
            list-style: none;
            overflow: hidden;
            li:first-child{
                float:left;
                font-size: 1.5rem;
                font-weight:800;
                text-decoration: none;
                &:hover{
                    background-color: #050B2B;
                    color:#fff;
                    font-size: 2rem;
                    transition: .3s ease-in-out;
                    
                }
            }
            li{
                float:right;
                display: block;
                text-align: center;
                text-decoration: underline #050B2B;
                padding:0 1rem;
                border-bottom:1rem;
                cursor: pointer;
                &:hover{
                    color:#fff;
                    background-color: #050B2B;
                    font-weight: bold;
                }
            }
        }
    }
}
.introduction{
    height:100vh;
    background-color: #050B2B;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    .name{
        color: #fff;
        font-size: 4vw; 
        margin: 5rem 8rem;
        position: absolute;
    }
    .caption{
        background-color: #fff;
        color: #050B2B;
        font-size: 5vw; 
        font-weight: bold;
        margin: 0 auto;
        padding: 10px;
        width: 70%;
        text-align: center;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -20%);
        mix-blend-mode: screen;
    }
    .text{
        color: #fff;
        font-size: 1.5vw; 
        font-weight: bold;
        margin: 0 auto;
        padding: 10px;
        width: 70%;
        text-align: center;
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translate(-50%, -20%);
        mix-blend-mode: screen;
    }
}

.projects{
    background-color:#f5f5f5;
    color:#050B2B;
    .projects-container{
        text-align: center;
        font-size:1em;
        margin:0 5rem;
        h1{
            margin: 0;
            padding:2rem;
        }
        .project-list{
            .project-portfolio{
                .glints-projects,
                .odin-projects{
                    height: auto;
                    .project-container{
                        padding:2rem 3rem;
                        display:grid;
                        grid-template-columns:auto auto;
                        margin:0 auto;
                        .picture{
                            height: 18em;
                            img{
                                height:100%;
                                width:35em;
                                object-fit: scale-down;
                                box-shadow: 5px 8px 12px #bbbdc9;
                                // border: 1px solid #141a3a;
                                // background-color: #ededf1;
                                border-radius: 1.5%;
                            }
                        }
                        .description{
                            // padding:0 2rem;
                            // font-size:1.2rem;
                            height:auto;
                            margin:auto 2rem;
                            text-align: left;
                            h3{
                                font-size: 1.2rem;
                                margin:0;
                            }
                            .buttons{
                                button{
                                    a{
                                        color:#fff;
                                        font-weight: 700; 
                                        text-decoration: none;
                                    }
                                    padding:1rem;
                                    background-color:#050B2B ;
                                    border: none;
                                    border-radius: 0.2em;
                                    cursor: pointer;
                                    margin-right:1rem;
                                }
                                button:nth-child(2){
                                    background-color: transparent;
                                    a{
                                        color:#050B2B;
                                    }
                                }
                                button:hover{
                                    background-color: transparent;
                                    a{
                                        color:#050B2B;
                                    }
                                }
                                button:nth-child(2):hover{
                                    background-color: #050B2B;
                                    a{
                                        color:#fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer{
    background-color:#050B2B ;
    color:#fff;
    margin:0 auto;
    text-align: center;
    padding:0;
    height:auto;
    h2{
        padding:2rem;
        margin:0;
    }
    .connect{
        display: flex;
        justify-content: center;
        .medsos{
            padding:1rem;
            height:100%;
            margin-bottom:1rem;
            opacity: 0.6;
            transition: .3s ease-in-out;
            img{
                height:2.5em;
                width:2.5em;
                cursor: pointer;
            }
            a{
                color:#fff;
                text-decoration: none;
            }
            h4{
                display: none;
            }
            &:hover{
                opacity: 1;
            }
        }
    }
}

@media only screen and (min-width:851px){
    .introduction{
        height:86vh;
        background-color: #050B2B;
        width:100%;
        display:flex;
        flex-wrap: wrap;
        .name{
            color: #fff;
            font-size: 5vw; 
            // margin: 5rem 8rem;
            position: absolute;
            top:20%;
            left:-2%;
        }
        .caption{
            background-color: #fff;
            color: #050B2B;
            font-size: 6vw; 
            font-weight: bold;
            margin: 0 auto;
            padding: 10px;
            width: 70%;
            text-align: center;
            position: absolute;
            top: 60%;
            left: 50%;
            height:fit-content;
            transform: translate(-50%, -20%);
            mix-blend-mode: screen;
        }
        .text{
            color: #fff;
            font-size: 1.5vw; 
            font-weight: bold;
            margin: 0 auto;
            padding: 10px;
            width: 70%;
            text-align: center;
            position: absolute;
            bottom: 3%;
            left: 50%;
            transform: translate(-50%, -20%);
            mix-blend-mode: screen;
        }
    }
    .projects{
        background-color:#f5f5f5;
        color:#050B2B;
        .projects-container{
            text-align: center;
            font-size:1em;
            margin:0 5rem;
            h1{
                margin: 0;
                padding:2rem;
            }
            .project-list{
                .project-portfolio{
                    .glints-projects,
                    .odin-projects{
                        height: auto;
                        .project-container{
                            padding:2rem 0;
                            display:grid;
                            grid-template-columns:auto auto;
                            margin:0 auto;
                            .picture{
                                height: 18em;
                                img{
                                    height:100%;
                                    width:35em;
                                    object-fit: scale-down;
                                    box-shadow: 5px 8px 12px #bbbdc9;
                                    // border: 1px solid #141a3a;
                                    // background-color: #ededf1;
                                    border-radius: 1.5%;
                                }
                            }
                            .description{
                                // padding:0 2rem;
                                font-size:0.8em;
                                height:auto;
                                margin:auto 2rem;
                                text-align: left;
                                h3{
                                    font-size: 1rem;
                                    margin:0;
                                }
                                .buttons{
                                    button{
                                        a{
                                            color:#fff;
                                            font-weight: 600; 
                                            text-decoration: none;
                                        }
                                        padding:0.5rem;
                                        background-color:#050B2B ;
                                        border: none;
                                        border-radius: 0.2em;
                                        cursor: pointer;
                                        margin-right:0.5rem;
                                    }
                                    button:nth-child(2){
                                        background-color: transparent;
                                        a{
                                            color:#050B2B;
                                        }
                                    }
                                    button:hover{
                                        background-color: transparent;
                                        a{
                                            color:#050B2B;
                                        }
                                    }
                                    button:nth-child(2):hover{
                                        background-color: #050B2B;
                                        a{
                                            color:#fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:767px){
    .navbar{
        font-size:1rem;
        height:2vh;
        padding:1em;
        margin:auto;
        // background-color: red;
        .nav-bar{
            ul{
                list-style: none;
                overflow: hidden;
                // display: flex;
                // justify-content: space-around;
                margin:0;
                li:first-child{
                    // float:left;
                    margin:0;
                    left:10rem;
                    font-size: 0.8rem;
                    font-weight:800;
                    text-decoration: none;
                    &:hover{
                        background-color: #050B2B;
                        color:#fff;
                        font-size: 1rem;
                        transition: .3s ease-in-out;
                        
                    }
                }
                li{
                    float:right;
                    display: block;
                    text-align: center;
                    text-decoration: underline #050B2B;
                    padding:0 1rem;
                    border-bottom:1rem;
                    cursor: pointer;
                    font-size:0.5rem;
                    &:hover{
                        color:#fff;
                        background-color: #050B2B;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .introduction{
        height:30vh;
        background-color: #050B2B;
        width:100%;
        display:flex;
        flex-wrap: wrap;
        .name{
            color: #fff;
            font-size: 4vw; 
            // margin: 5rem 8rem;
            top:-1%;
            left:-20%;
            position: absolute;
        }
        .caption{
            background-color: white;
            color: #050B2B;
            font-size: 6vw; 
            font-weight: bold;
            margin: 0 auto;
            padding: 10px;
            width: 70%;
            text-align: center;
            position: absolute;
            top: 20%;
            left: 50vw;
            transform: translate(-50%, -20%);
            mix-blend-mode: screen;
            height:fit-content;
        }
        .text{
            color: #fff;
            font-size: 2vw; 
            font-weight: bold;
            margin: 0 auto;
            padding: 10px;
            width: 70%;
            text-align: center;
            position: absolute;
            bottom: 45vh;
            left: 50vw;
            transform: translate(-50%, -20%);
            mix-blend-mode: screen;
        }
    }
    .projects{
        color:#050B2B;
        width:100%;
        .projects-container{
            text-align: center;
            font-size:0.4em;
            margin:0 1rem;
            .project-list{
                .project-portfolio{
                    .glints-projects,
                    .odin-projects{
                        height: auto;
                        .project-container{
                            // padding:2rem 3rem;
                            display:flex;
                            flex-wrap: wrap;
                            // grid-template-columns:auto auto;
                            // margin:0 auto;
                            .picture{
                                height: 23em;
                                img{
                                    height:100%;
                                    width:100%;
                                    object-fit: scale-down;
                                    box-shadow: 5px 8px 12px #bbbdc9;
                                    // border: 1px solid #141a3a;
                                    background-color: transparent;
                                    border-radius: 1.5%;
                                }
                            }
                            .description{
                                padding-top:2rem;
                                // font-size:1em;
                                height:auto;
                                margin:auto;
                                text-align: left;
                                width:100%;
                                h3{
                                    font-size: 0.8rem;
                                }
                                .buttons{
                                    button{
                                        a{
                                            color:#fff;
                                            font-weight: 600; 
                                            text-decoration: none;
                                            font-size:0.8em;
                                        }
                                        padding:0.5rem;
                                        width:100%;
                                        background-color:#050B2B ;
                                        border: none;
                                        border-radius: 0.2em;
                                        cursor: pointer;
                                        margin-bottom:0.5rem;
                                    }
                                    button:hover{
                                        background-color: #fff;
                                        a{
                                            color:#050B2B;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer{
        background-color:#050B2B ;
        color:#fff;
        margin:0 auto;
        text-align: center;
        padding:0;
        height:auto;
        h2{
            padding:2rem;
            margin:0;
            font-size:1em;
        }
        .connect{
            display: flex;
            justify-content: center;
            .medsos{
                padding:1rem;
                height:100%;
                margin-bottom:1rem;
                opacity: 0.6;
                transition: .3s ease-in-out;
                img{
                    height:1.5em;
                    width:1.5em;
                    cursor: pointer;
                }
                a{
                    color:#fff;
                    text-decoration: none;
                }
                h4{
                    display: none;
                }
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}
/* for mobile */
@media only screen and (min-width:768px) and (max-width:850px){
    .navbar{
        font-size:1rem;
        height:5vh;
        // width:100vw;
        margin:auto;
        .nav-bar{
            ul{
                list-style: none;
                overflow: hidden;
                margin:0;
                li:first-child{
                    float:left;
                    font-size: 1.5rem;
                    font-weight:800;
                    text-decoration: none;
                    &:hover{
                        background-color: #050B2B;
                        color:#fff;
                        font-size: 2rem;
                        transition: .3s ease-in-out;
                        
                    }
                }
                li{
                    float:right;
                    display: block;
                    text-align: center;
                    text-decoration: underline #050B2B;
                    padding:0 1rem;
                    border-bottom:1rem;
                    cursor: pointer;
                    &:hover{
                        color:#fff;
                        background-color: #050B2B;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    
    .introduction{
        height:50vh;
        background-color: #050B2B;
        width:100%;
        display:flex;
        flex-wrap: wrap;
        .name{
            color: #fff;
            font-size: 4vw; 
            left:-5%;
            top:2%;
            position: absolute;
        }
        .caption{
            background-color: white;
            color: #050B2B;
            font-size: 6vw; 
            font-weight: bold;
            margin: 0 auto;
            padding: 10px;
            width: 70%;
            text-align: center;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -20%);
            mix-blend-mode: screen;
            height:fit-content;
        }
        .text{
            color: #fff;
            font-size: 1.5vw; 
            font-weight: bold;
            margin: 0 auto;
            padding: 10px;
            width: 70%;
            text-align: center;
            position: absolute;
            bottom: 45vh;
            left: 50vw;
            transform: translate(-50%, -20%);
            mix-blend-mode: screen;
        }
    }
    .projects{
        // background-color:#e7c3c8;
        color:#050B2B;
        width:100%;
        .projects-container{
            text-align: center;
            font-size:1em;
            margin:0 1rem;
            .project-list{
                .project-portfolio{
                    .glints-projects,
                    .odin-projects{
                        height: auto;
                        .project-container{
                            padding-bottom:2rem;
                            display:grid;
                            grid-template-columns:auto auto;
                            // margin:0 auto;
                            .picture{
                                height: 15em;
                                img{
                                    height:100%;
                                    width:40vw;
                                    object-fit: scale-down;
                                    box-shadow: 5px 8px 12px #bbbdc9;
                                    // border: 1px solid #141a3a;
                                    background-color: transparent;
                                    border-radius: 1.5%;
                                }
                            }
                            .description{
                                padding:0 2rem;
                                font-size:0.8rem;
                                height:auto;
                                margin:auto;
                                text-align: left;
                                width:auto;
                                h3{
                                    font-size: 1rem;
                                }
                                .buttons{
                                    button{
                                        a{
                                            color:#fff;
                                            font-weight: 700; 
                                            text-decoration: none;
                                        }
                                        padding:0.5rem;
                                        background-color:#050B2B ;
                                        border: none;
                                        border-radius: 0.2em;
                                        cursor: pointer;
                                        margin-right:1rem;
                                    }
                                    button:hover{
                                        background-color: #fff;
                                        a{
                                            color:#050B2B;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}