@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap');

html,body{
    font-size:16px;
    font-family: 'Gentium Basic', sans-serif;
    height:100%;
}

h1,h2,h3,h4{
    font-weight: 700;
}

h5,h6,p{
    font-weight: 400;
}

li{
    list-style: none;
}